# Pycharm IDE files
.idea
# virtual environment files
venv
# gunicorn configuration file
gunicorn.conf.py
# database
db.sqlite3
# locale compiled files
django.mo
# environment variables
.env
# python build system
.eggs
