<!DOCTYPE html>
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Software development for customers">
    <meta name="keywords" content="Custom, Software, Development">
    <meta name="author" content="Michal Mládek">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans 'Softorks - custom software development' %}</title>
    <link
            href="{% static 'css/bootstrap.min.css' %}"
            data-href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    >
    <style>
        body {
            width: 100vw;
            margin: 0;
            padding: 0;
            background-color: black;
            color: lime;
        }
        #bearer {
            display: flex;
            width: 33%;
            margin: 1% auto 1% auto;
            background-color: black;
            color: black;
        }
        .matrix-column {
            flex: 1;
            font-size: xxx-large;
            text-align: center;
        }
        @media (max-width: 1920px) {
            #bearer {
                width: 50%;
            }
        }
        @media (max-width: 1280px) {
            #bearer {
                width: 75%;
            }
        }
        @media (max-width: 720px) {
            #bearer {
                width: 100%;
            }
            .matrix-column {
                font-size: xx-large;
            }
        }
        @media (max-width: 640px) {
            #bearer {
                width: 100%;
            }
            .matrix-column {
                font-size: x-large;
            }
        }
        @media (max-width: 320px) {
            #bearer {
                width: 100%;
            }
            .matrix-column {
                font-size: large;
            }
        }
        section p {
            color: lightgrey;
        }
        section li {
            color: orange;
        }
        a {
            color: orange;
        }
        a:hover {
            text-decoration: none;
        }
        button.nav-link {
            color: white;
        }
        button.nav-link:hover {
            color: lime;
        }
        footer {
            background-color: black;
            color: lime;
        }
        footer p {
            border-top: solid white 1px;
        }
        footer span.nav-lang {
            color: white;
        }
    </style>
    <script
            src="{% static 'js/bootstrap.min.js' %}"
            data-src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"
            defer
    ></script>
</head>
<body>
    <div id="main" class="container py-5">
        <header class="text-center mb-5">
            <h1>{% trans 'Softorks' %}</h1>
            <p class="lead">{% trans 'full stack programmer and software architect' as sub_title %}{{ sub_title.title }}</p>
        </header>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-about-me-tab" data-bs-toggle="tab" data-bs-target="#nav-about-me" type="button" role="tab" aria-controls="nav-about-me" aria-selected="true">{% trans 'about me' as about_me %}{{ about_me.capitalize }}</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">{% trans 'contact' as contact %}{{ contact.capitalize }}</button>
                <button class="nav-link" id="nav-tech-stack-tab" data-bs-toggle="tab" data-bs-target="#nav-tech-stack" type="button" role="tab" aria-controls="nav-tech-stack" aria-selected="false">Tech stack</button>
            </div>
        </nav>
        <div class="tab-content mt-3"  id="nav-tabContent">
            <section id="nav-about-me" class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-about-me-tab" tabindex="0">
            {% if LANGUAGE_CODE == 'cs' %}
                <p>
                    Jsem full stack programátor a softwarový architekt s více než 20ti letou zkušeností v oblasti webových technologií.
                    Můj tech stack zahrnuje <a href="https://www.postgresql.org">PostgreSQL</a>, <a href="https://redis.io">Redis</a>, <a href="https://www.djangoproject.com">Django</a>, <a href="https://www.django-rest-framework.org">Rest Framework</a> a <a href="https://www.python.org">Python</a>.
                    Mám bohaté zkušenosti s <b>verzováním</b>, <b>licencováním</b>, <b>balíčkováním</b> a <b>testováním</b> softwaru.
                    Ve vývoji se soustředím na <b>funkcionalitu</b> a <b>praktičnost (UX + výkon)</b>, přičemž grafickou stránku vědomě zanedbávám.
                </p>
                <p>
                    Specializuji se na interní webové aplikace jako <b>CRM</b>, <b>ERP</b> apod., ale do mého portfolia dovedností patří také <b>web scraping</b>, <b>statistiky</b> a další.
                    Rád se zabývám moderními síťovými protokoly a technologiemi, jako jsou <a href="https://zeromq.org">ZeroMQ</a>, <a href="https://datatracker.ietf.org/doc/html/rfc6455">WebSockets</a> a <a href="https://grpc.io">gRPC</a>.
                </p>
            {% elif LANGUAGE_CODE == 'en' %}
                <p>
                    I am a full stack programmer and software architect with more than 20 years of experience in web technologies.
                    My tech stack includes <a href="https://www.postgresql.org">PostgreSQL</a>, <a href="https://redis.io">Redis</a>, <a href="https://www.djangoproject.com">Django</a>, <a href="https://www.django-rest-framework.org">Rest Framework</a> and <a href="https://www.python.org">Python</a>.
                    I have extensive experience with <b>versioning</b>, <b>licensing</b>, <b>packaging</b> and <b>testing</b> software.
                    In development, I focus on <b>functionality</b> and <b>practicality (UX + performance)</b>, while consciously neglecting the graphics side.
                </p>
                <p>
                    I specialize in internal web applications such as <b>CRM</b>, <b>ERP</b>, etc., but my skills portfolio also includes <b>web scraping</b>, <b>statistics</b>, and more.
                    I enjoy working on modern network protocols and technologies such as <a href="https://zeromq.org">ZeroMQ</a>, <a href="https://datatracker.ietf.org/doc/html/rfc6455">WebSockets</a>, and <a href="https://grpc.io">gRPC</a>.
                </p>
            {% endif %}
            </section>
            <section id="nav-contact" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                <ul>
                    <li><a href="https://github.com/michalnik" target="_blank">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/michal-ml%C3%A1dek-a4aa704b/" target="_blank">LinkedIn</a></li>
                </ul>
                <h5>Github aktivita</h5>
            </section>
            <section id="nav-tech-stack" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-tech-stack-tab" tabindex="0">
                <ul>
                    <li><a href="https://www.postgresql.org">PostgreSQL</a></li>
                    <li><a href="https://redis.io">Redis</a></li>
                    <li><a href="https://www.djangoproject.com">Django</a></li>
                    <li><a href="https://www.django-rest-framework.org">Django Rest Framework</a></li>
                    <li><a href="https://www.python.org">Python</a></li>
                    <li><a href="https://zeromq.org">ZeroMQ</a>, <a href="https://datatracker.ietf.org/doc/html/rfc6455">WebSockets</a>, <a href="https://grpc.io">gRPC</a></li>
                </ul>
                <h5>Reference</h5>
            </section>
        </div>
        <footer class="fixed-bottom">
            <div class="container">
                <p class="text-center mt-2 pt-2">&copy; 2025 {% trans 'Softorks' %} IČ: 04923031 <span class="nav-lang">{% if LANGUAGE_CODE == 'cs' %}cs | <a href="https://softorks.eu">en</a> version{% elif LANGUAGE_CODE == 'en' %}en | <a href="https://softarna.cz">cs</a> verze{% endif %}</span></p>
            </div>
        </footer>
    </div>
    <script
            src="{% static 'js/babel.min.js' %}"
            data-src="https://unpkg.com/@babel/standalone/babel.min.js"
    ></script>
    <script type="text/babel">
        function getAsciiCodes() {
            const spaces = Array.from({ length: 10 }, () => 32);
            const alpha = Array.from({ length: 26 }, (_, i) => 65 + i);
            const numbers = Array.from({ length: 10 }, (_, i) => 48 + i);
            return spaces.concat(alpha).concat(numbers);
        }
        function generateId(matrixColumnId: string, rowId: string): string {
            return `${matrixColumnId}-${rowId}`;
        }
        function makeRandomLetter(): string {
            const asciiPrintable = window.asciiCodes;
            const index = Math.floor(Math.random() * asciiPrintable.length);
            return String.fromCharCode(asciiPrintable[index]);
        }
        function changeLetter(elementLetter: HTMLElement) {
            if (elementLetter.parentNode === null) {
                // were removed from DOM
                return;
            }
            const runAfter = Math.floor(Math.random() * 10000);
            setTimeout(() => {
                elementLetter.dispatchEvent(new Event("changeLetter"));
                changeLetter(elementLetter);
            }, runAfter);
        }
        function makeElementLetter(matrixColumnId: string, letter: string, currentCount: number): HTMLElement {
            const span = document.createElement("span");
            const asciiPrintable = window.asciiCodes;
            span.id = generateId(matrixColumnId, `row-${currentCount + 1}`);
            span.textContent = letter;
            span.addEventListener("changeLetter", (event) => {
                event.currentTarget.textContent = makeRandomLetter(asciiPrintable);
            });
            span.addEventListener("changeLook", (event) => {
                event.currentTarget.style.color = event.detail.color;
                event.currentTarget.style.filter = `blur(${event.detail.blur})`;
            });
            return span;
        }
        function buildLetters(em: HTMLElement, countLetters: number) {
            // asure children are empty for a matrix column
            em.innerHTML = "";
            let currentCount = 0;
            while (currentCount < countLetters) {
                const letter = makeRandomLetter();
                const lineBreaker = document.createElement("br");
                const elementLetter = makeElementLetter(em.id, letter, currentCount);
                em.appendChild(elementLetter);
                em.appendChild(lineBreaker);
                changeLetter(elementLetter);
                currentCount += 1;
            }
        }
        function changeLookColumnLetters(em: HTMLElement, firstPoint: Array, secondPoint: Array) {
            let [row, greenPercents, blurValue]: [number, number, number] = firstPoint;
            let [secRow, secGreenPercents, secBlurValue]: [number, number, number] = secondPoint;
            const secIdx = secRow === null ? null : secRow * 2 - 2;
            for (let idx = row * 2 - 2 ; idx >= 0; idx -= 2) {
                if (idx === secIdx) {
                    // switch to second
                    greenPercents = secGreenPercents;
                    blurValue = secBlurValue;
                }
                const cell = em.children[idx];
                const color = `rgb(0% ${greenPercents}% 0%)`;
                const blur = `${blurValue}px`;
                const event = new CustomEvent("changeLook", {detail: {color: color, blur: blur}});
                cell.dispatchEvent(event);
                if (greenPercents > 0) {
                    greenPercents -= 5;
                }
                if (blurValue < 10) {
                    blurValue += 0.25;
                }
            }
        }
        function runMatrixColumn(em: HTMLElement, reset: boolean = true) {
            if (reset === true) {
                buildLetters(em, 10);
            }
            let willBreak = false;
            let step: number = 1;
            let secStep: number = null;
            let secCounter: number = 0;
            let firstGreenPcts: number = 100;
            let firstBlurValue: number = 0;
            while (true) {
                const first = step > 10 ? 10 : step;
                const firstGrPcts = firstGreenPcts;
                const firstBlVal = firstBlurValue;
                const second = secStep;
                const currentStep = step;
                const wereBreak = willBreak;
                setTimeout(
                    () => changeLookColumnLetters(
                        em,
                        [first, firstGrPcts, firstBlVal],
                        [second, 100, 0]
                    ),
                    100 * currentStep
                );
                if (currentStep > 10) {
                    /***
                     For the first lightning run we are nearly after the first end,
                     we are going to lower green percentages and blur.
                     */
                    if (firstGreenPcts >= 80) {
                        // the first part of lowering the green (slower)
                        firstGreenPcts -= 2;
                    } else if (firstGreenPcts >= 0 && firstGreenPcts < 80) {
                        // the second part of lowering the green (faster)
                        if (firstGreenPcts > 0 && firstGreenPcts < 20) {
                            // just to be sure that we are not lower than the bottom
                            firstGreenPcts = 0;
                        } else if (firstGreenPcts === 0) {
                            // it is needed to decide what to do next
                            if (second === null) {
                                // there is a clean situation - only one lightning run has ended
                                const nextRun = 100 * (currentStep + 1);
                                const delay = Math.floor(Math.random() * 10000);
                                // if willBreak is true, we want to have a random rest(delay)
                                const runAfter = wereBreak ? nextRun + delay : nextRun;
                                setTimeout(
                                    () => runMatrixColumn(em, wereBreak),
                                    runAfter
                                );
                                // !!! END OF MATRIX COLUMN RUN !!!
                                break;
                            } else {
                                /***
                                 First run has ended, second is still running, but we mark it
                                 as the process will break later with letters reset.
                                 */
                                willBreak = true;
                            }
                        } else {
                            // huge step down when we are not too deep
                            firstGreenPcts -= 20;
                        }
                    }
                    if (firstBlurValue < 10) {
                        firstBlurValue += 0.5;
                    }
                }
                if (second === null) {
                    // we don't have second lightening run, maybe we want another?
                    if (secCounter < 3 && willBreak === false) {
                        // we don't want to end process, so we'll see ...
                        const probability = Math.random();
                        if (probability > 0.75) {
                            // probability - has said yes, we want to have a second lightning run
                            secCounter++;
                            secStep = Math.floor(Math.random() * first)
                            if (secStep === 0) {
                                secStep = 1;
                            }
                        }
                    }
                } else if (second === 9) {
                    // We are at the end of second lightening run, so we can switch it to first ...
                    secStep = null;
                    firstGreenPcts = 100;
                    firstBlurValue = 0;
                } else {
                    secStep++;
                }
                step++;
            }
        }
        function matrix(elementToShow: HTMLElement) {
            window.asciiCodes = getAsciiCodes();
            const matrixColumnIds = Array.from({ length: 10 }, (_, i) => 1 + i);
            htmlElementsMatrix(matrixColumnIds, elementToShow);
            for (const matrixColumnId of matrixColumnIds) {
                const matrixColumn = window.document.getElementById(`col-${matrixColumnId}`);
                setTimeout(
                    () => runMatrixColumn(matrixColumn),
                    Math.random() * 1000
                );
            }
        }
        function htmlElementsMatrix(matrixColumnIds: Array[Number], elementToShow: HTMLElement) {
            const bearer = window.document.createElement("div");
            bearer.id = "bearer";
            bearer.onclick = (event: Event) => {event.currentTarget.remove(); window.document.body.appendChild(elementToShow);};
            for (const matrixColumnId of matrixColumnIds) {
                const divId = `col-${matrixColumnId}`;
                const div = window.document.createElement("div");
                div.id = divId;
                div.className = "matrix-column";
                bearer.appendChild(div);
            }
            window.document.body.appendChild(bearer);
        }
        function startMatrix() {
            const mainDiv = window.document.getElementById("main");
            window.document.body.removeChild(mainDiv);
            matrix(mainDiv);
        }
        setTimeout(
            () => startMatrix(),
            5000
        );
    </script>
</body>
</html>
